body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* INTRO */
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ff4dd2;
}

.insta {
  color: #ff4dd2;
  text-decoration: none;
}

.intro button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #ff4dd2;
  color: black;
  font-weight: bold;
}

/* CHAT */
.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.header {
  padding: 15px;
  background: #020617;
  text-align: center;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 75%;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.user {
  background: #2563eb;
  align-self: flex-end;
}

.bot {
  background: #1e293b;
  align-self: flex-start;
}

.input-box {
  display: flex;
  padding: 10px;
  background: #020617;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #ff4dd2;
  }
